
.left-content
  .left-content__user-name #{current_user.name}
  %ul.left-content__user-name__icon
    =link_to "/groups/new" do
      %i{class:"fa fa-pencil-square-o"}
    =link_to "/users/edit" do
      .i{class:"fa fa-cog"}
  %ul.left-content__group
    %li.left-content__group__name group1
    %li.left-content__group__message まだメッセージはありません
  %ul.left-content__group
    %li.left-content__group__name group2
    %li.left-content__group__message まだメッセージはありません

.right-content
  .right-content__header
    %p.right-content__header__group-name sampleグループ
    %li= link_to " Edit","/groups/20/edit",:class => "right-content__header__button"
    %ul.right-content__header__members
      %li.right-content__header__members__member Members:
      %li.right-content__header__members__member-name ryota
    .right-content__header__border
  .right-content__contents
    %ul.right-content__contents__messages
      %li.right-content__contents__messages__user-name ryota
      %li.right-content__contents__messages__date 2017/04/03 06:27:27
      %li.right-content__contents__messages__each-message 今日は雨だね。
    %ul.right-content__contents__messages
      %li.right-content__contents__messages__user-name kobayashi ryota
      %li.right-content__contents__messages__date 2017/04/03 08:24:56
      %li.right-content__contents__messages__each-message 晴れてきた!!
  .right-content__footer
    %input{class:"right-content__footer__message-form",placeholder:"type a message"}
    =link_to "https://www.yahoo.co.jp/" do
      .i{class:"fa fa-pencil-square-o"}
    %input{class:"right-content__footer__button", type:"submit", value:"Send",}



