

%body
  %div{class:"navber"} チャットグループが作成されました。
  %div{class:"left-content"}
    %div{class:"left-content__user-name"}ryota
    %ul{class:"left-content__group"}
      %li{class:"left-content__group__name"}group1
      %li{class:"left-content__group__message"} まだコメントはありません
    %ul{class:"left-content__group"}
      %li{class:"left-content__group__name"}group2
      %li{class:"left-content__group__message"} まだコメントはありません



  %div{class:"right-content"}
    %div{class:"right-content__header"}
      %p{class:"right-content__header__group-name"}sampleグループ
      %ul{class:"right-content__header__members"}
        %li{class:"right-content__header__members__"}
    %div{class:"right-content__contents"}
    %div{class:"right-content__message-form"}
